<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="n2gocallback" frontName="n2gocallback">
            <module name="Newsletter2Go_Export" />
        </route>
    </router>
</config>
